GROQ_API_KEY=your_groq_api_key_here
NEAR_ACCOUNT_ID=yourname.testnet
NEAR_PRIVATE_KEY=your_near_private_key_here
NEAR_NETWORK=testnet
SIMULATION_MODE=true
POLL_INTERVAL_SECONDS=300

# Lit Protocol service
LIT_SERVICE_URL=http://localhost:3001
ETHEREUM_PRIVATE_KEY=your_ethereum_wallet_private_key_here
LIT_PKP_PUBLIC_KEY=your_pkp_public_key_here

# Storacha / w3up service
# To get W3UP_KEY and W3UP_PROOF:
#   npm install -g @web3-storage/w3cli
#   w3 login your@email.com
#   w3 space use did:key:YOUR_SPACE_DID
#   w3 key create          <-- gives W3UP_KEY
#   w3 delegation create <agent_did> --can 'store/add' --can 'upload/add' | base64 > proof.txt
#   W3UP_PROOF = contents of proof.txt
STORACHA_SERVICE_URL=http://localhost:3002
W3UP_SPACE_DID=did:key:your_space_did_here
W3UP_KEY=your_w3up_agent_private_key_here
W3UP_PROOF=your_ucan_delegation_proof_base64_here
